.project
.cproject

assign1/approximate_pi/approximate_pi
assign1/approximate_pi/approximate_pi.o

assign1/check_policy/check_policy
assign1/check_policy/check_policy.o

assign1/is_dividable/is_dividable
assign1/is_dividable/is_dividable.o

assign2/string_editor/string_editor
assign2/string_editor/string_editor.o
assign2/string_editor/my_list.o

final_project/sparse_mlpl/sparse_matrix
final_project/sparse_mlpl/sparse_matrix.o
final_project/sparse_mlpl/main.o

final_project/modularity_mat/modularity_mat
final_project/modularity_mat/modularity_mat.o
