*.dSYM
.project
.cproject

assign1/approximate_pi/approximate_pi
assign1/approximate_pi/approximate_pi.o

assign1/check_policy/check_policy
assign1/check_policy/check_policy.o

assign1/is_dividable/is_dividable
assign1/is_dividable/is_dividable.o

assign2/string_editor/string_editor
assign2/string_editor/string_editor.o
assign2/string_editor/my_list.o

final_project/sparse_mlpl/sparse_matrix
final_project/sparse_mlpl/sparse_matrix.o
final_project/sparse_mlpl/main.o

final_project/modularity_mat/modularity_mat
final_project/modularity_mat/modularity_mat.o

final_project/eigen_pair/eigen_pair.o
final_project/eigen_pair/eigen_pair

final_project/spectral_div/spectral_div
final_project/spectral_div/spectral_div.o

final_project/improve_div/improve_div
final_project/improve_div/improve_div.o

final_project/cluster/cluster

final_project/shared/shared.o
final_project/shared/data_structures.o
final_project/shared/input_reading.o

